body, html {
  padding: 0;
  margin: 0;
}

.CodeMirror {
  font-size: 12px;
  height: auto;
}

.selected-request-url {
  white-space: nowrap;
  overflow: hidden;
  display: block;
  text-overflow: ellipsis;
}

.editor {
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
}

.content .menu {
  font-family: Helvetica, sans-serif;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  height: 30px;
  line-height: 30px;
}

.menu {
  background: #303f9f;
  color: #fff;
  font-size: 14px;
  padding: 15px 20px;
}

.menu .btn {
  border-width: 0;
  border-radius: 3px;
  background: #448aff;
  color: #fff;
  outline: none;
  font-size: 12px;
  padding: 5px 8px;
}

.menu .btn.btn-danger {
  background: #990000;
}

.menu .btn.btn-success {
  background: #009900;
}

.menu .back {
  color: #c5cae9;
  display: inline-block;
  margin-right: 15px;
  cursor: pointer;
}

.menu .back:hover {
  color: #fff;
}

.pull-right {
  float: right;
  margin-left: 20px;
}

.overridden { color: blue; }

.overridden-request {
  padding: 5px 20px;
  border-bottom: 1px solid #777;
  color: #555;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: default;
}

.overridden-request-header {
  padding: 10px 20px;
  color: #fff;
  background: #03a9f4;
}

.overridden-request.overridden {
  font-weight: bold;
  color: #000;
}

.overridden-request:hover {
  background: #eee;
}

.disclaimer {
  font-size: 14px;
  margin: 20px;
}
