body, html {
  padding: 0;
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
}

.CodeMirror {
  font-size: 12px;
  height: auto;
}

.selected-resource-url {
  white-space: nowrap;
  overflow: ellipsis;
  display: block;
}

.editor {
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
}

.content .menu {
  font-family: Helvetica, sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 30px;
  line-height: 30px;
}

.menu {
  background: #303f9f;
  color: #fff;
  font-size: 14px;
  padding: 15px 20px;
}

.menu .btn {
  border-width: 0;
  border-radius: 3px;
  background: #448aff;
  color: #fff;
  outline: none;
  font-size: 12px;
  padding: 5px 8px;
}

.menu .btn.btn-danger {
  background: #990000;
}

.menu .back {
  color: #c5cae9;
  display: inline-block;
  margin-right: 15px;
  cursor: pointer;
}

.menu .back:hover {
  color: #fff;
}

.pull-right {
  float: right;
}

.mocked { color: blue; }

.mocked-resource {
  padding: 5px 10px;
  border-bottom: 1px solid #777;
  color: #555;
  white-space: nowrap;
  overflow: ellipsis;
  cursor: default;
}

.mocked-resource.mocked {
  font-weight: bold;
  color: #000;
}

.mocked-resource:hover {
  background: #eee;
}
