<link rel="stylesheet" type="text/css" href="bower_components/codemirror/lib/codemirror.css">
<link rel="stylesheet" type="text/css" href="panel.css"/>
<script type="text/javascript" src="bower_components/js-beautify/js/lib/beautify.js"></script>
<script type="text/javascript" src="bower_components/js-beautify/js/lib/beautify-css.js"></script>
<script type="text/javascript" src="bower_components/codemirror/lib/codemirror.js"></script>
<script type="text/javascript" src="bower_components/angular/angular.js"></script>
<script type="text/javascript" src="bower_components/angular-ui-codemirror/ui-codemirror.js"></script>
<script type="text/javascript" src="bower_components/codemirror/mode/javascript/javascript.js"></script>
<script type="text/javascript" src="bower_components/codemirror/mode/css/css.js"></script>
<script src="panel.js"></script>

<div ng-app="switch" ng-controller="PanelCtrl">

  <div ng-if="disabled">

    <div class="content">
      <div class="menu">
        <div class="pull-right">
          <button ng-click="toggleDisabled(false)" class="btn" ng-if="disabled">{{ 'enable' | i18n }}</button>
        </div>

        <div class="selected-request-url">
          genius-switch!
        </div>
      </div>

      <div class="disclaimer editor">
        <strong>Mocking is currently disabled.</strong>
        <br/><br/>

        <div ng-if="!just_opened">
          You will need to <a href="#" ng-click="refreshPage()">refresh the page</a> to reload the original assets.
          <br/><br/>
        </div>

        <a href="#" ng-click="toggleDisabled(false)">Turn it back on!</a>
      </div>
    </div>

  </div>

  <div ng-if="!disabled">

    <div ng-if="!selectedRequest && just_opened" class="content">
      <div class="menu">
        <div class="pull-right">
          <button ng-click="toggleDisabled(true)" class="btn btn-danger" ng-if="!disabled">{{ 'disable' | i18n }}</button>
        </div>

        <div class="selected-request-url">
          genius-switch!
        </div>
      </div>

      <div class="disclaimer editor">
        Please <a href="#" ng-click="refreshPage()">refresh the page</a> for your requests to appear here.
      </div>
    </div>

    <div ng-if="!selectedRequest && !just_opened" class="content">
      <div class="menu">
        <div class="pull-right">
          <button ng-click="unmockAll()" class="btn btn-danger" ng-if="mockedCount()">{{ 'unmock' | i18n }} {{ mockedCount() }}</button>
          <button ng-click="toggleDisabled(true)" class="btn btn-danger" ng-if="!disabled">{{ 'disable' | i18n }}</button>
        </div>

        <div class="selected-request-url">
          genius-switch!
        </div>
      </div>

      <div class="editor">
        <div ng-if="!selectedRequest" ng-repeat="(mode, mode_requests) in requests" class="content">
          <div class="mocked-request-header">{{ mode | i18n }}</div>
          <div ng-repeat="request in mode_requests | filter:{request:{url:searchTerm}}">
            <div class="mocked-request" ng-click="selectRequest(request)" ng-class="{mocked:request.mocked}">
              {{ request.request.url }}
            </div>
          </div>
          <div ng-if="!(mode_requests | filter:{request:{url: searchTerm}}).length">
            <div class="mocked-request">
              <em>No {{ mode | i18n }} Results.</em>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div ng-if="selectedRequest" class="content">
      <div class="menu">
        <div class="pull-right">
          <button ng-click="unmock(selectedRequest)" class="btn btn-danger" ng-if="selectedRequest.mocked">{{ 'unmock' | i18n }}</button>
          <button ng-click="beautifySelected()" class="btn" ng-if="is_beautifiable()">{{ 'cleanup' | i18n }} {{ selectedRequest.mode | i18n }}</button>
          <button ng-click="saveSelectedRequest()" class="btn btn-success">{{ 'save' | i18n }}</button>
          <button ng-click="saveSelectedRequest();refreshPage()" class="btn btn-success">{{ 'save_and_refresh' | i18n }}</button>
        </div>

        <div class="selected-request-url">
          <a ng-click="cancelSaving()" class="back">X</a>
          {{ selectedRequest.request.url }}
        </div>
      </div>
      <ui-codemirror ng-model="editor.body" ui-codemirror-opts="editorOptions()" class="editor"></ui-codemirror>
    </div>

  </div>

</div>
